<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="panel panel-primary">
                <div class="panel-heading" id="accordion">
                    <span class="glyphicon glyphicon-comment"></span> Chat
                    <div class="btn-group pull-right">
                        <a type="button" class="btn btn-default btn-xs" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a>
                    </div>
                </div>
                <div class="panel-collapse collapse" id="collapseOne">
                    <div class="panel-body">
                        <ul class="chat">
                                {% for message in chatMessages %}
                                    <li class="{% if loop % 2 == 1 %}left{% else %}right{% endif %} clearfix">
                                        <span class="chat-img pull-{% if loop % 2 == 1 %}left{% else %}right{% endif %}">
                                            <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" />
                                        </span>
                                        <div class="chat-body clearfix">
                                            <div class="header">
                                                {% if loop % 2 == 1 %}
                                                    <strong class="primary-font">{{ message.user.username }}</strong>
                                                    <small class="pull-right text-muted">
                                                        <span class="glyphicon glyphicon-time"></span>
                                                        {{ message.createdAt|date("H:i") }}
                                                    </small>
                                                {% else %}
                                                    <small class=" text-muted">
                                                        <span class="glyphicon glyphicon-time"></span>
                                                        {{ message.createdAt|date("H:i") }}
                                                    </small>
                                                    <strong class="pull-right primary-font">{{ message.user.username }}</strong>
                                                {% endif %}
                                            </div>
                                            <p>
                                                {{ message.message }}
                                            </p>
                                        </div>
                                    </li>

                                {% else %}
                                    <li class="left clearfix">
                                        <div class="chat-body clearfix">
                                            <p>
                                                {{ 'No messages found. Why don\'t you post the first message of this contest ? '|trans }}
                                            </p>
                                        </div>
                                    </li>
                                {% endfor %}
                        </ul>
                    </div>
                    <div class="panel-footer">
                        <div class="input-group">
                            {{ form_start(formMessage) }}
                            <span class="input-group-btn">
                                {{ form_row(formMessage.submit) }}
                            </span>
                            {{ form_end(formMessage) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
