{% extends '::base.html.twig' %}

{% block body -%}
    {% block breadcrumb %}
    <ul class="breadcrumb">
    <li><a href="{{ path('events') }}">{% trans %}Home{% endtrans %}</a></li>
    <li><a href="{{ path('event_home', {'event': event.id }) }}">{{ event.name }}</a></li>
    {% if contest %}
        <li><a href="{{ path('contest_show', {'contestId': contest.id }) }}">{{ contest.contestName }}</a></li>
    {% endif %}
    <li>{% trans %}Games of the day{% endtrans %}</li>
    </ul>
    {% endblock breadcrumb %}
    {% include "DwfPronosticsBundle:Default:_adminMessage.html.twig" %}
    <div class="page-header center">
        <h1>{% if event.getWebPath %}<img class="contest_logo" src='/{{ event.getWebPath }}' />{% endif %}
        {% if contest %}
        {{ contest.contestName }} - <small>{{ event.name }}</small>
        {% else %}
        {{ event.name }} 
        {% endif %}
        - {% trans %}Games of the day{% endtrans %}
        </h1>
    </div>
    {% if messageForContest and messageForContest.message %}
        <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="{% trans %}Close{% endtrans %}"><span aria-hidden="true">&times;</span></button>
            <strong>{% trans %}Announcement{% endtrans %}</strong>
                <p>{{ messageForContest.message }}</p>
        </div>
    {% endif %}
    {% if contest %}
        <div class="col-sm-12">
            {% include "DwfPronosticsBundle:Contest:_menu.html.twig" %}
        </div>
    {% endif %}
    <div class="page-header">
        <h1>{% trans %}Games of the day{% endtrans %}</h1>
    </div>
{% block menu %}
<div class="col-sm-3">
    {% if contest %}
        {% include "DwfPronosticsBundle:Contest:_menu-show.html.twig" %}
    {% else %}
        {% include "DwfPronosticsBundle:Event:event-menu.html.twig" %}
    {% endif %}
</div>
{% endblock menu %}
<div class="row">
    <div class="list-match col-sm-8">
    {% set lastDate = '' %}
        {% for entity in games %}
            {% if event.simpleBet %}
                {% include "DwfPronosticsBundle:Game:game-simpleBet.html.twig" with {'forms': forms_games, 'pronostic': pronostics_games[loop.index - 1]} %}
            {% else %}
                {% include "DwfPronosticsBundle:Game:game.html.twig" with {'entity': entity, 'lastDate': lastDate, 'pronostic': pronostics_games[loop.index - 1] } %}
            {% endif %}
            {% set lastDate = entity.date|date('Ymd') %}
        {% else %}
            <p>{% trans %}There are no games today{% endtrans %}</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% include "DwfPronosticsBundle:Pronostic:js-ajaxizePronos.html.twig" %}
{% endblock %}