{% extends '::base.html.twig' %}

{% block body -%}
    <div class="page-header">
    <h1>Evènements passés</h1>
    </div>
    
    <table class="records_list table table-striped events">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Date debut</th>
                <th>Date fin</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{% if event.getWebPath %}<img src='/{{ event.getWebPath }}' />{% endif %} {{ event.name }}</td>
                <td>{% if event.startDate %}{{ event.startDate|date('d/m/Y H:i') }}{% endif %}<br /></td>
                <td>{% if event.finishDate %}{{ event.finishDate|date('d/m/Y H:i') }}{% endif %}<br /></td>
                <td><a href="{{ path('event_show', { 'id': event.id }) }}" class="btn btn-sm btn-default">Entrer</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
