{% extends '::base.html.twig' %}

{% block body -%}
    <ul class="breadcrumb">
    <li><a href="{{ path('events') }}">Accueil</a></li>
    <li><a href="{{ path('event_home', {'event': event.id }) }}">{{ event.name }}</a></li>
    <li>Meilleurs buteurs</li>
    </ul>
<div class="page-header">
    <h1>{% if event.getWebPath %}<img class="contest_logo" src='/{{ event.getWebPath }}' />{% endif %} {{ event.name }} - Meilleurs buteurs</h1>
</div>

<div class="col-sm-3">
    {% include "DwfPronosticsBundle:Event:event-menu.html.twig" %}
</div>
{% if scorers %}
<div class="col-sm-9">
    <div class="panel panel-default row">
  <!-- Default panel contents -->
  <div class="panel-heading">Classement meilleurs buteurs</div>
  <!-- Table -->
    <table class="table">
    <thead>
    <tr>
    <th>#</th>
    <th>Joueur</th>
    <th>Equipe</th>
    <th>Nb buts</th>
    </tr>
    </thead>
    <tbody>
    {% set total = 0 %}
    {% for scorer in scorers %}
    <tr>
        <td>{{ loop.index }}</td>
        <td>{{ players[scorer.player_id].firstname }} {{ players[scorer.player_id].name }}</td>
        <td>
{#         {% if teams[result.team_id].getWebPath %}#}
             <img src='/{{ players[scorer.player_id].team.getWebPath }}' width="20" />
{#         {% endif %}#}
        {{ players[scorer.player_id].team }}
        </td>
        <td>{{ scorer.total }}</td>
        {% set total = total + scorer.total %}
    </tr>
    {% endfor %}
    <tr>
    <td colspan="2"></td>
    <td>Total</td>
    <td>{{ total }}</td>
    </tr>
    </tbody>
  </table>
</div>
</div>
{% endif %}

{% endblock %}