<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
        <title>{% block title %}{{ app_name }}{% endblock %}</title>

        <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">
        <link href="{{ asset('bundles/dwfpronostics/css/bootstrap-theme.css') }}" rel="stylesheet" >
        <link href="{{ asset('bundles/dwfpronostics/css/chat.css') }}" rel="stylesheet" >
        <link href="{{ asset('bundles/dwfpronostics/css/style.css') }}" rel="stylesheet" >
        <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
        {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}

        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body{% block bodyclass %}{% endblock %}>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <div class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">{% trans %}Toggle navigation{% endtrans %}</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{ path('home') }}">
                            <img class="img-responsive youbetsport_logo" src="{{ asset('bundles/dwfpronostics/images/coupe.png') }}" alt="{{ app_name }}" />
                            <span class="logo">{{ app_name }}</span>
                        </a>
                    </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{{ path('events') }}">{% trans %}Home{% endtrans %}</a>
                    </li>
                    <li>
                        <a href='{{ path('contest_create') }}'><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {% trans %}Create new contest{% endtrans %}</a>
                    </li>
                    <li>
                        <a href='{{ path('contest_join') }}'><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> {% trans %}Join a contest{% endtrans %}</a>
                    </li>
                    <li>
                        <a href='{{ path('DwfPageBundle_page', { 'id': 1, 'linkRewrite': 'reglement' }) }}'>{% trans %}Rules{% endtrans %}</a>
                    </li>
              </ul>
              <p class="navbar-text navbar-right">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {% if app.user.profilePicture %}
                    <a href="{{ path('fos_user_profile_show') }}">
                    <img src="{{ asset(app.user.profilePicture) }}" class="avatar" />
                    </a>
                {% elseif gravatar_exists(app.user.email) %}
                    <a href="{{ path('fos_user_profile_show') }}">
                    <img src="{{ gravatar('%this%'|replace({'%this%': app.user.email}),'30') }}" class="avatar" />
                    </a>
                {% endif %}
                        <a href="{{ path('fos_user_profile_show') }}">{{ app.user.username }}</a>
                    <a href="{{ path('fos_user_security_logout') }}"  class="glyphicon glyphicon-remove"></a>
                {% else %}
                    <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                {% endif %}
              </p>
            </div><!--/.nav-collapse -->
          </div>
        </div>
            {% else %}
            <div class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">{% trans %}Toggle navigation{% endtrans %}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{{ path('home') }}"><img class="img-responsive youbetsport_logo" src="{{ asset('bundles/dwfpronostics/images/coupe.png') }}" alt="{{ app_name }}" /></a>
            </div>
            <div class="navbar-collapse collapse">
            <a role="button" href="{{ path("fos_user_security_login") }}" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>{% trans %}Log in{% endtrans %}</a>
            <a role="button" href="{{ path("fos_user_registration_register") }}" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>{% trans %}Register{% endtrans %}</a>
            <ul class="nav navbar-nav">
                <li><a href='{{ path('DwfPageBundle_page', { 'id': 1, 'linkRewrite': 'reglement' }) }}'>{% trans %}See rules{% endtrans %}</a></li>
            </ul>
            </div>
          </div>
        </div>
        {% endif %}

        <div class="container" >
            {% if app.request.hasPreviousSession %}
                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <div class="alert alert-{{ type }} alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="{% trans %}Close{% endtrans %}"><span aria-hidden="true">&times;</span></button>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}

            {% block body %}{% endblock %}

            <div class="col-xs-12 footer">
                <p>&copy; <a href="https://www.youbetsport.com" target="_blank">{{ app_name }}</a></p>
            </div>

            {% block navbar_bottom %}
            {% endblock %}

        </div>

        <script src="{{ asset('js/jquery.js') }}"></script>
        <script src="{{ asset('js/bootstrap.js') }}"></script>
        <script src="{{ asset('bundles/dwfpronostics/js/highcharts.js') }}"></script>
        <script src="{{ asset('bundles/dwfpronostics/js/modules/exporting.js') }}"></script>
        <script src="{{ asset('bundles/dwfpronostics/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('bundles/dwfpronostics/js/favico.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-8257833-23', 'auto');
  ga('send', 'pageview');

</script>
    </body>
</html>
