<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
{#         <meta name="viewport" content="width=device-width, initial-scale=1">#}
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
        <title>{% block title %}{{ app_name }}{% endblock %}</title>

        <!-- Bootstrap -->
{#         <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">#}
        <link href="{{ asset('bundles/dwfpronostics/css/bootstrap.min.css') }}" rel="stylesheet" >
        <link href="{{ asset('bundles/dwfpronostics/css/bootstrap-theme.css') }}" rel="stylesheet" >

        <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
        {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
        
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body{% block bodyclass %}{% endblock %}>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{{ path('home') }}">{{ app_name }}</a>
            </div>
            <div class="navbar-collapse collapse">
            {% if event is defined %}
                {% if event %}
              <ul class="nav navbar-nav">
{#                 <li><a href='{{ path('standings_event', {'event': event.id}) }}'>Classement</a></li>#}
{#                 {% if currentChampionshipDay is defined and currentChampionshipDay %}#}
{#                 <li><a href='{{ path('game_by_type', { 'type': currentChampionshipDay.id, 'event': event.id }) }}'>Matchs {{ currentChampionshipDay.name }}</a></li>#}
{#                 {% else %}#}
{#                 <li><a href='{{ path('games_event', {'event': event.id}) }}'>Matchs</a></li>#}
{#                 {% endif %}#}
{#                 <li><a href='{{ path('pronostics_event', {'event': event.id}) }}'>Mes pronostics</a></li>#}
                <li><a href='{{ path('events_old') }}'>Historique</a></li>
                <li><a href='{{ path('DwfPageBundle_page', { 'id': 1, 'linkRewrite': 'reglement' }) }}'>Règlement</a></li>
              </ul>
              {% endif %}
              {% endif %}
              <p class="navbar-text navbar-right">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {% if app.user.profilePicture %}
                    <a href="{{ path('fos_user_profile_show') }}">
                    <img src="{{ app.user.profilePicture }}" class="avatar" />
                    </a>
                {% elseif gravatar_exists(app.user.email) %}
                    <a href="{{ path('fos_user_profile_show') }}">
                    <img src="{{ gravatar('%this%'|replace({'%this%': app.user.email}),'30') }}" class="avatar" />
                    </a>
                {% endif %}
{#                     {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}#}
                        <a href="{{ path('fos_user_profile_show') }}">{{ app.user.username }}</a>
{#                     <a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>#}
                    <a href="{{ path('fos_user_security_logout') }}"  class="glyphicon glyphicon-remove"></a>
                {% else %}
                    <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                {% endif %}
              </p>
            </div><!--/.nav-collapse -->
          </div>
        </div>
        	{% else %}
        	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{{ path('home') }}">Participer</a>
            </div>
            <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
            	<li><a href='{{ path('DwfPageBundle_page', { 'id': 1, 'linkRewrite': 'reglement' }) }}'>Voir le règlement</a></li>
              </ul>
            </div>
          </div>
        </div>
              {% endif %}

        <div class="container">
{#         	<div>#}
{#                 {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}#}
{#                     {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |#}
{#                     <a href="{{ path('fos_user_security_logout') }}">#}
{#                         {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}#}
{#                     </a>#}
{#                 {% else %}#}
{#                     <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>#}
{#                 {% endif %}#}
{#             </div>#}
        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="alert alert-{{ type }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="{% trans %}Close{% endtrans %}"><span aria-hidden="true">&times;</span></button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
            {% block body %}{% endblock %}

            <div class="col-xs-12 footer">
                <p>&copy; <a href="http://www.dwf.fr" target="_blank">DWF</a></p>
            </div>
        </div>
        
        <!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
        <script src="{{ asset('js/jquery.js') }}"></script>
        <!-- Include all JavaScripts, compiled by Assetic -->
        <script src="{{ asset('js/bootstrap.js') }}"></script>
        <script src="//code.highcharts.com/4.0.1/highcharts.js"></script>
        <script src="{{ asset('bundles/dwfpronostics/js/bootstrap.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
