<!DOCTYPE html>
<html lang="{{ app.request.locale }}">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{{ app_name }}{% endblock %}</title>

    <!-- Custom Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ asset('bundles/dwfpronostics/css/font-awesome/css/font-awesome.min.css') }}" type="text/css">

    <!-- Bootstrap -->
        <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">
{#         <link href="{{ asset('bundles/dwfpronostics/css/bootstrap.min.css') }}" rel="stylesheet" >#}
        <link href="{{ asset('bundles/dwfpronostics/css/bootstrap-theme.css') }}" rel="stylesheet" >

        <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
        {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}

        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    
    <!-- Plugin CSS -->
    <link rel="stylesheet" href="{{ asset('bundles/dwfpronostics/css/magnific-popup.css') }}" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ asset('bundles/dwfpronostics/css/creative.css') }}" type="text/css">
    
    

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">{% trans %}Toggle navigation{% endtrans %}</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">{{ app_name }}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">{% trans %}About{% endtrans %}</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">{% trans %}Play{% endtrans %}</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">{% trans %}Register{% endtrans %}</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">{% trans %}Contact{% endtrans %}</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="alert alert-{{ type }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="{% trans %}Close{% endtrans %}"><span aria-hidden="true">&times;</span></button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
    {% block body %}{% endblock %}
    

        <!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
        <script src="{{ asset('js/jquery.js') }}"></script>
        <!-- Include all JavaScripts, compiled by Assetic -->
        <script src="{{ asset('js/bootstrap.js') }}"></script>
        <script src="{{ asset('bundles/dwfpronostics/js/bootstrap.min.js') }}"></script>
            <!-- Plugin JavaScript -->
        <script src="{{ asset('bundles/dwfpronostics/js/scrollreveal.min.js') }}"></script>
        <script src="{{ asset('bundles/dwfpronostics/js/jquery.easing.min.js') }}"></script>
        <script src="{{ asset('bundles/dwfpronostics/js/jquery.fittext.js') }}"></script>
        <script src="{{ asset('bundles/dwfpronostics/js/jquery.magnific-popup.min.js') }}"></script>
        
        <!-- Custom Theme JavaScript -->
        <script src="{{ asset('bundles/dwfpronostics/js/creative.js') }}"></script>
        {% block javascripts %}{% endblock %}
</body>

</html>
