{{ form_start(form, {'attr': { 'class': 'form-signin' }}) }}
    <div data-rel="errors" class="errors">{{ form_errors(form) }}</div>
    <h2 class="form-signin-heading">{% trans %}Register{% endtrans %}</h2>

    {% if form.username.vars.errors|length %}
        <div class='alert alert-danger'>
        {{ form_errors(form.username) }}
        </div>
    {% endif %}
    {{ form_widget(form.username, {'attr': { 'class': 'form-control first', 'placeholder': 'Nom d\'utilisateur' }}) }}
    {% if form.email.vars.errors|length %}
        <div class='alert alert-danger'>
        {{ form_errors(form.email) }}
        </div>
    {% endif %}
    {{ form_widget(form.email, {'attr': { 'class': 'form-control last', 'placeholder': 'Email' }}) }}
    
    {% if form.plainPassword.first.vars.errors|length %}
        <div class='alert alert-danger'>
        {{ form_errors(form.plainPassword.first) }}
        </div>
    {% endif %}
    {{ form_widget(form.plainPassword.first, {'attr': { 'class': 'form-control first', 'placeholder': 'Mot de passe' }}) }}
    {% if form.plainPassword.second.vars.errors|length %}
        <div class='alert alert-danger'>
        {{ form_errors(form.plainPassword.second) }}
        </div>
    {% endif %}
    {{ form_widget(form.plainPassword.second, {'attr': { 'class': 'form-control last', 'placeholder': 'Vérification' }}) }}
    {% if form.invitation.vars.errors|length %} 
        <div class='alert alert-danger'>
        {{ form_errors(form.invitation) }}
        </div>
    {% endif %}
    {{ form_widget(form.invitation, {'attr': { 'class': 'form-control last', 'placeholder': 'Code d\'invitation' }}) }}
    <button type="submit" class="btn btn-lg btn-primary btn-block" type="submit" id="_submit" name="_submit" value="{% trans %}Register{% endtrans %}" />
    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
    {% trans %}Register{% endtrans %}
    </button>
    {{ form_rest(form) }}
{{ form_end(form) }}
