{% extends '::base.html.twig' %}

{% block title %}
    {{ 'Change your password'|trans }}
{% endblock %}

{% block body %}
    <ul class="breadcrumb">
        <li><a href="{{ path('fos_user_profile_show') }}">{{ 'Your profile'|trans }}</a></li>
        <li>{{ 'Change your password'|trans }}</li>
    </ul>
    <div class="page-header">
        <h1>{{ 'Change your password'|trans }}</h1>
    </div>
    {% block fos_user_content %}

        {% trans_default_domain 'FOSUserBundle' %}

        {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
        {{ form_widget(form) }}
        <div>
            <input class="btn btn-primary" type="submit" value="{{ 'change_password.submit'|trans }}" />
        </div>
        {{ form_end(form) }}

    {% endblock fos_user_content %}
{% endblock %}
