
{{ form_start(contestForm) }}
    {{ form_errors(contestForm) }}
        <div class="input-group">
        {{ form_widget(contestForm.contestName, {'attr': {'class': 'form-control', 'placeholder': 'Create a new contest'|trans}}) }}
            <span class="input-group-btn">
            {{ form_widget(contestForm.submit, {'attr': { 'class': 'btn btn-default' }}) }}
            </span>
        </div>
    {{ form_rest(contestForm) }}
{{ form_end(contestForm) }}