<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="container">
        <div class="navbar-header col-sm-12">
            <ul class="nav navbar-nav col-sm-12 text-center">
                <li role="presentation" class="col-xs-2{% if(app.request.attributes.get("_route") == 'contest_show') %} active{% endif %}">
                    <a title="{{ 'Home'|trans }}" href="{{ path('contest_show', {'contestId': contest.id }) }}">
                        <span class="glyphicon glyphicon-home" aria-hidden="true"></span> <span class="hidden-xs hidden-sm" >{% trans %}Home{% endtrans %}</span>
                    </a>
                </li>
                <li role="presentation" class="col-xs-2{% if(app.request.attributes.get("_route") == 'contest_standings') %} active{% endif %}">
                    <a title="{{ 'Standings'|trans }}" href="{{ path('contest_standings', {'contestId': contest.id }) }}">
                        <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> <span class="hidden-xs hidden-sm" >{% trans %}Standings{% endtrans %}</span>
                    </a>
                </li>
                <li role="presentation" class="col-xs-2{% if(app.request.attributes.get("_route") == 'contest_pronostics') %} active{% endif %}">
                    <a title="{{ 'Bets'|trans }}" href="{{ path('contest_pronostics', {'contestId': contest.id }) }}">
                        <span class="glyphicon glyphicon-check" aria-hidden="true"></span> <span class="hidden-xs hidden-sm" >{% trans %}Bets{% endtrans %}</span>
                    </a>
                </li>
                <li role="presentation" class="col-xs-2{% if(app.request.attributes.get("_route") == 'contest_games' or app.request.attributes.get("_route") == 'contest_games_by_type') %} active{% endif %}">
                    <a title="{{ 'Games'|trans }}" href="{{ path('contest_games', {'contestId': contest.id }) }}">
                        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> <span class="hidden-xs hidden-sm" >{% trans %}Games{% endtrans %}</span>
                    </a>
                </li>
                {% if user.id == contest.owner.id %}
                    <li role="presentation" class="col-xs-2{% if(app.request.attributes.get("_route") == 'contest_admin') %} active{% endif %}">
                        <a title="{{ 'Manage'|trans }}" href="{{ path('contest_admin', {'contestId': contest.id }) }}">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> <span class="hidden-xs hidden-sm" >{% trans %}Manage{% endtrans %}</span>
                        </a>
                    </li>
                {% else %}
                    <li role="presentation" class="col-xs-2{% if(app.request.attributes.get("_route") == 'contest_infos') %} active{% endif %}">
                        <a title="{{ 'Informations'|trans }}" href="{{ path('contest_infos', {'contestId': contest.id }) }}">
                            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> <span class="hidden-xs hidden-sm" >{% trans %}Informations{% endtrans %}</span>
                        </a>
                    </li>
                {% endif %}
                <li role="presentation" class="col-xs-2">
                    <div class="dropup" id="dropup-discuss" style="padding: 15px;">
                        <a title="{{ 'Discuss'|trans }}" href="" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> <span class="hidden-xs hidden-sm" >{{ 'Discuss'|trans }}</span>
                        </a>
                        <div class="panel panel-primary dropdown-menu" aria-labelledby="dropdownMenu2" style="left: -300px; right: 0px; min-width: 400px;" id="dropup-panel">
                            <div class="panel-heading" id="accordion">
                                <span class="glyphicon glyphicon-comment"></span> {{ 'Conversation'|trans }}
                                <div class="btn-group pull-right">
                                    <a type="button" class="btn btn-default btn-xs collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                        <span class="glyphicon glyphicon-chevron-down"></span>
                                    </a>
                                    <a type="button" class="btn btn-default btn-xs" id="close-chat">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </a>
                                </div>
                            </div>
                            <div class="panel-collapse collapse in" id="collapseOne">
                                <div class="panel-body">
                                    <ul class="chat">
                                        {% include "DwfPronosticsBundle:Chat:messages.html.twig" %}
                                    </ul>
                                </div>
                                <div class="panel-footer">

                                    {{ form_start(formMessage, {'attr': {'id': 'chat_form'}}) }}
                                    <div class="input-group">
                                        {{ form_widget(formMessage.message, {'attr': {'class': 'form-control', 'placeholder': 'Type your text here'|trans, 'autocomplete': 'off'}}) }}
                                        <span class="input-group-btn">
                                    {{ form_widget(formMessage.submit, {'attr': { 'class': 'btn btn-default' }}) }}
                                </span>
                                    </div>
                                    {{ form_rest(formMessage) }}
                                    {{ form_end(formMessage) }}

                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>