{% extends 'DwfPronosticsBundle:Contest:show.html.twig' %}

{% block body -%}
    {% block breadcrumb %}
    <ul class="breadcrumb">
    <li><a href="{{ path('events') }}">{% trans %}Home{% endtrans %}</a></li>
    <li><a href="{{ path('event_home', {'event': event.id }) }}">{{ event.name }}</a></li>
    <li>{% trans %}Admin{% endtrans %}</li>
    </ul>
    {% endblock %}
    {% block contest_header %}
    {{ parent() }}
    {% endblock %}
    {% block content %}
    <div class="page-header">
        <h2>{{ event.name }} - {% trans %}Admin{% endtrans %}</h2>
    </div>
    <div class="tabs-container">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#">{% trans %}Invitations{% endtrans %}</a></li>
            {% if users %}
                <li><a href="#">{% trans %}Users{% endtrans %}</a></li>
            {% endif %}
        </ul>
    <div class="tabs">
    {{ form_start(invitationForm) }}
    {{ form_errors(invitationForm) }}
        <div class="input-group">
        {{ form_widget(invitationForm.email, {'attr': {'class': 'form-control', 'placeholder': 'Send Invitation'}}) }}
            <span class="input-group-btn">
            {{ form_widget(invitationForm.submit, {'attr': { 'class': 'btn btn-default' }}) }}
            </span>
        </div>
    {{ form_rest(invitationForm) }}
    {{ form_end(invitationForm) }}
    {% if invitationsAlreadySent %}
    <div class="panel panel-default">
    <div class="panel-heading">{% trans %}Invitations already sent to{% endtrans %}</div>
    <ul class="list-group">
        {% for invitation in invitationsAlreadySent %}
            <li class="list-group-item">{{ invitation.email }}</li>
        {% endfor %}
    </ul>
    </div>
    {% endif %}
    </div>
    {% if users %}
        <div style="display:none;" class="tabs">
        <ul class="list-group">
        {% for player in users %}
            <li class="list-group-item">{{ player.username }}</li>
        {% endfor %}
        </ul>
        </div>
    {% endif %}
    </div>
    {% endblock %}
    {% block javascripts %}
    {{ parent() }}
    {% include "DwfPronosticsBundle:Game:js-tabs.html.twig" %}
    {% endblock %}
{% endblock %}