{% extends '::base.html.twig' %}

{% form_theme contestForm _self %}

{% block radio_widget %}
{% spaceless %}
<div class="radio-inline radio-img clearfix">
    <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
    <label class="cr-styled" for="{{ id }}">
        <img src="/uploads/documents/event-{{ value }}.png" class="img-responsive contest_logo" alt="{{ label|trans }}" title="{{ label|trans }}" />
    </label>
</div>
{% endspaceless %}
{% endblock radio_widget %}

{% block body -%}
    {% block breadcrumb %}
    <ul class="breadcrumb">
    <li><a href="{{ path('events') }}">{% trans %}Home{% endtrans %}</a></li>
    <li>{% trans %}Create a contest{% endtrans %}
    </ul>
    {% endblock %}

    <div class="page-header">
        <h1>{% trans %}Create a contest{% endtrans %}</h1>
        <p>{% trans %}Create a private contest and bet with your friends !{% endtrans %}</p>
    </div>
    <div class="page-header">
        <h2>{% trans %}Select an event{% endtrans %}</h2>
    </div>
    <div class="panel panel-default">
    <div class="panel-heading">{% trans %}Events{% endtrans %}</div>
        <div class="panel-body">
            {% if events %}
                <p>{% trans %}Select an event above by clicking on its picture, give a name to your contest and validate.{% endtrans %}</p>
                {{ form_start(contestForm) }}
                {{ form_errors(contestForm) }}
                <div class="input-group">
                    {{ form_widget(contestForm.event, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="input-group">
                {{ form_widget(contestForm.contestName, {'attr': {'class': 'form-control', 'placeholder': 'Choose name for your contest'|trans}}) }}
                    <span class="input-group-btn">
                    {{ form_widget(contestForm.submit, {'attr': { 'class': 'btn btn-default' }}) }}
                    </span>
                </div>
                {{ form_rest(contestForm) }}
                {{ form_end(contestForm) }}
            {% else %}
                {{ 'No active event at this time ... please come back later !'|trans }}
            {% endif %}
        </div>
    </div>
{# {% include "DwfPronosticsBundle:Contest:_createForm.html.twig" with {'contestForm': contestForm } %}#}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% include "DwfPronosticsBundle:Pronostic:js-ajaxizePronos.html.twig" %}
{% endblock %}