{% extends '::base.html.twig' %}

{% block body -%}
    {% block breadcrumb %}
    <ul class="breadcrumb">
    <li><a href="{{ path('events') }}">{% trans %}Home{% endtrans %}</a></li>
    <li>{% trans %}Create a contest{% endtrans %}
    </ul>
    {% endblock %}

    <div class="page-header">
        <h1>{% trans %}Create an event{% endtrans %}</h1>
        <p>{% trans %}Create a private contest and bet with your friends !{% endtrans %}</p>
    </div>
    <div class="page-header">
        <h2>{% trans %}Select an event{% endtrans %}</h2>
    </div>
    {{ form_start(contestForm) }}
    {{ form_errors(contestForm) }}
    {% for event in events %}
        {% if event.getWebPath %}<img src='/{{ event.getWebPath }}' class="contest_logo"/>{% endif %} 
        <p><input id="dwf_pronosticsbundle_contest_form_type_event" class="form-control form-control" type="radio"  required="required" name="dwf_pronosticsbundle_contest_form_type[contestevent]"><label for="dwf_pronosticsbundle_contest_form_type_event">{{ event.name }}</label></p>
    {% endfor %}
        <div class="input-group">
        {{ form_widget(contestForm.contestName, {'attr': {'class': 'form-control', 'placeholder': 'Choose name for your contest'|trans}}) }}
            <span class="input-group-btn">
            {{ form_widget(contestForm.submit, {'attr': { 'class': 'btn btn-default' }}) }}
            </span>
        </div>
    {{ form_rest(contestForm) }}
    {{ form_end(contestForm) }}
{% include "DwfPronosticsBundle:Contest:_createForm.html.twig" with {'contestForm': contestForm } %}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% include "DwfPronosticsBundle:Pronostic:js-ajaxizePronos.html.twig" %}
{% endblock %}