{% extends 'DwfPronosticsBundle:Contest:show.html.twig' %}

{% block body -%}
    {% block breadcrumb %}
    <ul class="breadcrumb">
    <li><a href="{{ path('events') }}">{% trans %}Home{% endtrans %}</a></li>
    <li><a href="{{ path('event_home', {'event': event.id }) }}">{{ event.name }}</a></li>
    <li><a href="{{ path('contest_show', {'contestId': contest.id }) }}">{{ contest.contestName }}</a></li>
    <li>{% trans %}Games{% endtrans %}</li>
    </ul>
    {% endblock %}
    {% include "DwfPronosticsBundle:Default:_adminMessage.html.twig" %}
    {% block contest_header %}
    {{ parent() }}
    {% endblock %}
    {% block content %}
        <div class="page-header">
            <h2>{% if gameType %}{% trans %}Games{% endtrans %} - {{ gameType.name }}{% else %}{% trans %}All games{% endtrans %}{% endif %}</h2>
        </div>
        {% include "DwfPronosticsBundle:Contest:games-list.html.twig" %}
        <div id="chat">
            {% for message in messages %}
                <span>{{ message.user.name }}</span>{{ message.message }}<strong>{{ message.date|date("H:i") }}</strong>
            {% else %}
                {{ 'No messages found'|trans }}
            {% endfor %}
        </div>
        {% include "DwfPronosticsBundle:Chat:chat.html.twig" %}
    {% endblock %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% include "DwfPronosticsBundle:Pronostic:js-ajaxizePronos.html.twig" %}
    {% include "DwfPronosticsBundle:Game:js-tabs.html.twig" %}
    {% if chart %}
    <script type="text/javascript">
    $(document).ready(function() {
        {{ chart(chart) }}
        });
    </script>
    {% endif %}
    <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
    <script>

        // Enable pusher logging - don't include this in production
        Pusher.logToConsole = true;

        var pusher = new Pusher('c40f1fb7fa4dad94dfa6', {
            cluster: 'eu',
            encrypted: true
        });

        var channel = pusher.subscribe('{{ contest.slugName }}');
        channel.bind('new-message', function(data) {
            var $div = $('#chat');
            $div.append("<span>"+data['user']+"</span>"+data['message']+"<strong>"+data['date']+"</strong>");
        });
    </script>
{% endblock %}
