{% extends 'DwfPronosticsBundle:Contest:show.html.twig' %}

{% block body -%}
    {% block breadcrumb %}
    <ul class="breadcrumb">
    <li><a href="{{ path('events') }}">{% trans %}Home{% endtrans %}</a></li>
    <li><a href="{{ path('event_home', {'event': event.id }) }}">{{ event.name }}</a></li>
    <li><a href="{{ path('contest_show', {'contestId': contest.id }) }}">{{ contest.contestName }}</a></li>
    <li>{% trans %}Games{% endtrans %}</li>
    </ul>
    {% endblock %}
    {% include "DwfPronosticsBundle:Default:_adminMessage.html.twig" %}
    {% block contest_header %}
    {{ parent() }}
    {% endblock %}
    {% block content %}
        <div class="page-header">
            <h2>{% if gameType %}{% trans %}Games{% endtrans %} - {{ gameType.name }}{% else %}{% trans %}All games{% endtrans %}{% endif %}</h2>
        </div>
        {% include "DwfPronosticsBundle:Contest:games-list.html.twig" %}
        {% include "DwfPronosticsBundle:Chat:chatbox.html.twig" %}
    {% endblock %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% include "DwfPronosticsBundle:Game:js-tabs.html.twig" %}
    {% if chart %}
    <script type="text/javascript">
    $(document).ready(function() {
        {{ chart(chart) }}
    });
    </script>
    {% endif %}
    <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
    <script>
        // Enable pusher logging - don't include this in production
        Pusher.logToConsole = true;

        var badge = 0;
        var pusher = new Pusher('{{ pusher_id }}', {
            cluster: 'eu',
            encrypted: true
        });

        var channel = pusher.subscribe('{{ contest.slugName }}');
        channel.bind('new-message', function(data) {
            var $div = $('ul.chat');
            $div.html(data['html']);
            $('#collapseOne').scrollTop($('#message_'+data['message_id']).offset().top);
            if (data['user'] != '{{ app.user.username }}') {
                var favicon = new Favico({
                    animation:'slide'
                });
                badge = badge + 1;
                favicon.badge(badge);
            }
        });
    </script>
    <script>
        $(document).ready(function() {
            var $chatForm = $('#chat_form');
            var $input = $('#dwf_pronosticsbundle_chat_message_form_type_message');
            $chatForm.off();
            $chatForm.submit(function(e) {
                e.preventDefault(e);
                var data = $chatForm.serialize();
                $.ajax({
                    url : $chatForm.attr('action'),
                    type: $chatForm.attr('method'),
                    data : data,
                    success: function(data) {
                        $('ul.chat').html(data['html']);
                        $input.val('');
                        $('#collapseOne').scrollTop($('#message_'+data['message_id']).offset().top);
                    },
                    failure: function (data) {
                        $chatForm.before("<span class=\"info_ajax\" id=\"span_chat_form\">{{ 'Problem during submission. Retry'|trans }}</span>");
                        setTimeout(function() { $("#span_chat_form").hide("slow"); $("#span_chat_form").remove(); }, 2000);
                    }
                });
            });
            $('#dwf_pronosticsbundle_chat_message_form_type_message').focusin(function () {
                favicon.reset();
            });
        });
    </script>
{% endblock %}
