{% extends 'DwfPronosticsBundle:Contest:show.html.twig' %}

{% block breadcrumb %}
    <ul class="breadcrumb hidden-xs">
        <li><a href="{{ path('events') }}">{% trans %}Home{% endtrans %}</a></li>
        <li><a href="{{ path('event_home', {'event': event.id }) }}">{{ event.name }}</a></li>
        <li><a href="{{ path('contest_show', {'contestId': contest.id }) }}">{{ contest.contestName }}</a></li>
        <li>{% trans %}Games{% endtrans %}</li>
    </ul>
{% endblock %}

{% block body -%}

    {% include "DwfPronosticsBundle:Default:_adminMessage.html.twig" %}

    {% block contest_header %}
    {{ parent() }}
    {% endblock %}

    {% block content %}
        <div class="page-header">
            <h1>
                <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>
                {% if gameType %}
                    {{ 'Games'|trans }} - {{ gameType.name }}
                {% else %}
                    {{ 'All games'|trans }}
                {% endif %}
            </h1>
        </div>

        {% include "DwfPronosticsBundle:Contest:games-list.html.twig" %}

    {% endblock %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include "DwfPronosticsBundle:Game:js-tabs.html.twig" %}
    {% if chart %}
    <script type="text/javascript">
    $(document).ready(function() {
        {{ chart(chart) }}
    });
    </script>
    {% endif %}
{% endblock %}
