{% if contests %}
    <ul>
    {% for contest in contests %}
        <li>{{ contest.name }}</li>
    {% endfor %}
    </ul>
{% else %}
    {{ form_start(contestForm) }}
        {{ form_errors(contestForm) }}
            <div class="input-group">
            {{ form_widget(contestForm.name, {'attr': {'class': 'form-control', 'placeholder': 'Create a contest'}}) }}
                <span class="input-group-btn">
                {{ form_widget(contestForm.submit, {'attr': { 'class': 'btn btn-default' }}) }}
                </span>
            </div>
    {{ form_rest(contestForm) }}
    {{ form_end(contestForm) }}
{% endif %}