{% extends '::base.html.twig' %}

{% block body -%}
    {% block breadcrumb %}
    <ul class="breadcrumb">
    <li><a href="{{ path('events') }}">Accueil</a></li>
    <li><a href="{{ path('event_home', {'event': event.id }) }}">{{ event.name }}</a></li>
    <li>{{ contest.name }}
    </ul>
    {% endblock %}
    {% block contest_header %}
    <div class="page-header center">
        <h1>{% if event.getWebPath %}<img class="contest_logo" src='/{{ event.getWebPath }}' />{% endif %}{{ contest.name }} - <small>{{ event.name }}</small></h1>
    </div>
    {% if messageForContest %}
        <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="{% trans %}Close{% endtrans %}"><span aria-hidden="true">&times;</span></button>
            <strong>{% trans %}Announcement{% endtrans %}</strong>
                <p>{{ messageForContest.message }}</p>
        </div>
    {% endif %}
    <div class="col-sm-12">
        {% include "DwfPronosticsBundle:Contest:_menu.html.twig" %}
    </div>
    {% endblock %}
    <div class="col-sm-12">
    {% block content %}
    {% if total %}
        {% include "DwfPronosticsBundle:Contest:_points.html.twig" with { 'totalPoints': total.total } %}
    {% endif %}
    {% endblock %}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% include "DwfPronosticsBundle:Pronostic:js-ajaxizePronos.html.twig" %}
{% endblock %}