{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6&appId=1702363560032522";
        fjs.parentNode.insertBefore(js, fjs);
    }
    (document, 'script', 'facebook-jssdk'));


        function fb_login() {
            FB.getLoginStatus(function(response) {
                if (response.status === 'connected') {
                    // connected
                    //alert('Already connected, redirect to login page to create token.');
                    document.location = "{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}";
                } else {
                    // not_authorized
                    FB.login(function(response) {
                        if (response.authResponse) {
                            document.location = "{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}";
                        } else {
                            alert('Cancelled.');
                        }
                    }, {scope: 'email'});
                }
            });
        }
    </script>

        <div class="fb-login-button" data-max-rows="1" data-size="xlarge" data-show-faces="false" data-auto-logout-link="false" onlogin="fb_login()"></div>
        
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form action="{{ path("fos_user_security_check") }}" method="post" class="form-signin">
            <h2 class="form-signin-heading">{% trans %}Login{% endtrans %}</h2>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

            <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control first" placeholder="{% trans %}Username{% endtrans %}" required="required" />

            <input type="password" id="password" name="_password" class="form-control last" placeholder="{% trans %}Password{% endtrans %}" required="required" />

            <label for="remember_me">
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                {% trans %}Stay logged{% endtrans %}
            </label>

            <button class="btn btn-lg btn-primary btn-block" type="submit" id="_submit" name="_submit" value="{% trans %}Login{% endtrans %}" />
            <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
            {% trans %}Log in{% endtrans %}
            </button>
        </form>
        
{% render url('fos_user_registration_register') %}
{% endblock fos_user_content %}

