{% extends '::base.html.twig' %}

{% block body -%}
    <ul class="breadcrumb">
    <li><a href="{{ path('events') }}">Accueil</a></li>
    <li><a href="{{ path('event_home', {'event': event.id }) }}">{{ event.name }}</a></li>
    <li>{{ event.name }} - Classement général</li>
    </ul>
    <div class="page-header">
        <h1>{% if event.getWebPath %}<img src='/{{ event.getWebPath }}' />{% endif %} {{ event.name }} - Classement général</h1>
    </div>
{% include "DwfPronosticsBundle:Standing:standing.html.twig" %}
{% endblock %}