{% if (entity.game.date|date('Ymd') != lastDate) %}
<div class="head-date row">
    <h2 class="col-sm-12">{{ entity.game.date|date('d/m/Y') }}</h2>
</div>
{% endif %}

<div class="match row">
    <p class="date col-xs-12">
    <span>{{ entity.game.type }}</span> - 
    {{ entity.game.date|date('d/m/Y') }} à {{ entity.game.date|date('H:i:s') }}
    </p>
{#     <div class="date col-xs-12 col-sm-12 col-md-2">{% if entity.game.date %}{{ entity.game.date|date('d/m/Y H:i') }}{% endif %}<span>{{ entity.game.type }}</span></div>#}
    <div class="points pts-{{ entity.result }} col-xs-3 col-sm-2 col-md-2">
        {% if entity.result %}{{ entity.result }} {% trans %}pts{% endtrans %}{% endif %}
    </div>
    <div class="team{% if(entity.game.getWhoLose() == 1) %} looser{% endif %} col-xs-2 col-sm-3 col-md-3">
        {% if contest %}
            <a href="{{ path('contest_game_show', { 'id': entity.game.id, 'contestId': contest.id }) }}">
        {% else %}
            <a href="{{ path('game_show', { 'id': entity.id }) }}">
        {% endif %}
            <img src='/{{ entity.game.team1.getWebPath }}' class="img-rounded"/>
            <span class="hidden-xs hidden-sm">{{ entity.game.team1.name }}</span>
            <span class="hidden-md hidden-lg">{{ entity.game.team1.iso }}</span>
        </a>
    </div>
    <div class="score col-xs-3 col-sm-2 col-md-2">
{#         <a href="{{ path('game_show', { 'id': entity.game.id }) }}">#}

            {% if event.simpleBet %}
                {% if entity.game.played or entity.game.hasBegan() %}
                <div class="simple_bet">
                    <span{% if entity.simpleBet == "1" %} class='active'{% endif %}>1</span>
                    <span{% if entity.simpleBet == "N" %} class='active'{% endif %}>N</span>
                    <span{% if entity.simpleBet == "2" %} class='active'{% endif %}>2</span>
                </div>
                {% else %}
                    {% include "DwfPronosticsBundle:Pronostic:updateSimple.html.twig" with {'id': entity.game.id, 'form': forms[loop.index - 1]} %}
                {% endif %}
            {% else %}
                <strong>{{ entity.score }}</strong>
                {% if entity.game.type.canHaveOvertime and entity.overtime %}
                    {{ entity.scoreAfterOvertime }}
                    {% if entity.winner %}({{ entity.winner }}){% endif %}
                {% endif %}
            {% endif %}
            {% if entity.game.played %}
                <br />{% trans %}Result{% endtrans %} : <strong>{{ entity.game.score }}</strong> {% if not event.simpleBet %}(90 min){% endif %}
                {% if entity.game.overtime %}
                    <br />
                    {% trans %}Overtime, final score{% endtrans %} : {{ entity.game.scoreAfterOvertime }}
                    {% if pronostic.winner %}
                        <strong>{% trans %}Winner{% endtrans %} : {{ entity.game.winner }}</strong>
                    {% endif %}
               {% endif %}
            {% endif %}

{#         </a>#}
    </div>
    <div class="team ext{% if(entity.game.getWhoLose() == 2) %} looser{% endif %} col-xs-2 col-sm-3 col-md-3">
        {% if contest %}
            <a href="{{ path('contest_game_show', { 'id': entity.game.id, 'contestId': contest.id }) }}">
        {% else %}
            <a href="{{ path('game_show', { 'id': entity.id }) }}">
        {% endif %}
            <img src='/{{ entity.game.team2.getWebPath }}' class="img-rounded"/>
            <span class="hidden-xs hidden-sm ">{{ entity.game.team2.name }}</span>
            <span class="hidden-md hidden-lg">{{ entity.game.team2.iso }}</span>
        </a>
    </div>

    <div class="actions col-xs-2 col-sm-2 col-md-2">
        {% if contest %}
        {% if not entity.played and not entity.hasBegan() and not event.simpleBet %}
            <a class="btn btn-primary" href="{{ path('pronostics_new_forgame', { 'id': entity.id, 'contestId': contest.id }) }}" title="{% trans %}Bet{% endtrans %}">
            <span class="hidden-xs hidden-sm hidden-md"><span class="glyphicon glyphicon-plus"></span>{% trans %}Bet{% endtrans %}</span>
            <span class="glyphicon glyphicon-plus hidden-lg popover-button" data-toggle="popover" data-trigger="hover" data-content="{% trans %}Bet{% endtrans %}" data-placement="top"></span>
            </a>
        {% endif %}
    {% else %}
        <a class="btn btn-primary" href="{{ path('game_show', { 'id': entity.id }) }}" title="{% trans %}See game{% endtrans %}">
        <span class="glyphicon glyphicon-eye-open"></span>
        </a>
    {% endif %}
    </div>
</div>