{% if (entity.game.date|date('Ymd') != lastDate) %}
<div class="head-date row">
    <h2 class="col-sm-12">{{ entity.game.date|date('d/m/Y') }}</h2>
</div>
{% endif %}

<div class="match row">
    <p class="date col-xs-12">
    <span><a href="{{ path('game_by_type', { 'type': entity.game.type.id, 'event': event.id }) }}">{{ entity.game.type }}</a></span> - 
    {{ entity.game.date|date('d/m/Y') }} à {{ entity.game.date|date('H:i:s') }}
    </p>
{#     <div class="date col-xs-12 col-sm-12 col-md-2">{% if entity.game.date %}{{ entity.game.date|date('d/m/Y H:i') }}{% endif %}<span>{{ entity.game.type }}</span></div>#}
    <div class="points pts-{{ entity.result }} col-xs-3 col-sm-2 col-md-2">
        {% if entity.result %}{{ entity.result }} pts{% endif %}
    </div>
    <div class="team{% if(entity.game.getWhoLose() == 1) %} looser{% endif %} col-xs-2 col-sm-3 col-md-3">
        <a href="{{ path('game_show', { 'id': entity.game.id }) }}">
            <span class="hidden-xs hidden-sm">{{ entity.game.team1.name }}</span>
            <span class="hidden-md hidden-lg">{{ entity.game.team1.iso }}</span>
            <img src='/{{ entity.game.team1.getWebPath }}' />
        </a>
    </div>
    <div class="score col-xs-3 col-sm-2 col-md-2">
{#         <a href="{{ path('game_show', { 'id': entity.game.id }) }}">#}

            {% if event.simpleBet %}
                {% if entity.game.played or entity.game.hasBegan() %}
                <div class="simple_bet">
                    <span{% if entity.simpleBet == "1" %} class='active'{% endif %}>1</span>
                    <span{% if entity.simpleBet == "N" %} class='active'{% endif %}>N</span>
                    <span{% if entity.simpleBet == "2" %} class='active'{% endif %}>2</span>
                </div>
                {% else %}
                    {% include "DwfPronosticsBundle:Pronostic:updateSimple.html.twig" with {'id': entity.game.id, 'form': forms[loop.index - 1]} %}
                {% endif %}
            {% else %}
                <strong>{{ entity.score }}</strong>
                {% if entity.game.type.canHaveOvertime and entity.overtime %}
                    {{ entity.scoreAfterOvertime }}
                    {% if entity.winner %}({{ entity.winner }}){% endif %}
            	{% endif %}
            {% endif %}
            {% if entity.game.played %}
            	<br />Résultat : <strong>{{ entity.game.score }}</strong> {% if not event.simpleBet %}(90 min){% endif %}
            {% endif %}

{#         </a>#}
    </div>
    <div class="team ext{% if(entity.game.getWhoLose() == 2) %} looser{% endif %} col-xs-2 col-sm-3 col-md-3">
        <a href="{{ path('game_show', { 'id': entity.game.id }) }}">
            <span class="hidden-xs hidden-sm ">{{ entity.game.team2.name }}</span>
            <span class="hidden-md hidden-lg">{{ entity.game.team2.iso }}</span>
            <img src='/{{ entity.game.team2.getWebPath }}' />
        </a>
    </div>

    <div class="actions col-xs-2 col-sm-2 col-md-2">
    <a class="btn btn-default" href="{{ path('game_show', { 'id': entity.game.id }) }}" title="Voir"><span class="glyphicon glyphicon-eye-open"></span></a>
    {% if not entity.game.played and not entity.game.hasBegan() and not event.simpleBet %}
    <a class="btn btn-default" href="{{ path('pronostics_new_forgame', { 'id': entity.game.id }) }}" title="Modifier"><span class="glyphicon glyphicon-screenshot"></span></a>
    {% endif %}
    </div>
</div>