<div class="page-header">
    {% if scores.nbScores is defined and scores.nbScores > 0 %}
        <h2>{% trans %}Points won{% endtrans %}: <span class="label label-default">{{ scores.totalScores ?: 0}}</span></h2>
        <h3>{% trans %}Nb bets{% endtrans %}: <span class="label label-default">{{ scores.nbScores }}</span></h3>
        {% if scores.nbScores %}
            <h3>{% trans %}Av Pts / Bet{% endtrans %}: <span class="label label-default">{{ (scores.totalScores / scores.nbScores)|round(1, 'floor') }}</span></h3>
        {% endif %}
        {% if scores.nbPerfectScores and not event.simpleBet %}
            <h3>{% trans %}Good bets with perfect scores{% endtrans %}(5 {% trans %}points{% endtrans %}): <span class="label label-default">{{ scores.nbPerfectScores }}</span></h3>
        {% endif %}
        {% if scores.nbGoodScores %}
            <h3>{% trans %}Good bets{% endtrans %} (3 {% trans %}points{% endtrans %}): <span class="label label-default">{{ scores.nbGoodScores }}</span></h3>
        {% endif %}
        {% if scores.nbBadScores %}
            <h3>{% trans %}Bad bets{% endtrans %} (1 {% trans %}points{% endtrans %}): <span class="label label-default">{{ scores.nbBadScores }}</span></h3>
        {% endif %}
    {% else %}
        <p>{% trans %}No bet yet. Go see {% endtrans %} <a href="{{ path('contest_games', {'contestId': contest.id }) }}">{% trans %}game listing{% endtrans %}</a> {% trans %} to bet.{% endtrans %}</p>
    {% endif %}
</div>
