<div class="row">
    {% if types %}
    <div class="col-sm-3">
        <ul class="list-group">
        	<li class="list-group-item"><a href="{{ path('event_games', {'event': event.id }) }}">Tous les matchs</a></li>
        {% for type in types %}
            <li class="list-group-item"><a href="{{ path('event_games_by_type', { 'type': type.id, 'event': event.id }) }}">{{ type }}</a></li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
    <div class="list-match col-sm-9">
    <div class="tabs-container">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#">Matchs</a></li>
            <li><a href="#">Classement {{ title }}</a></li>
            {% if event.championship %}
            <li><a href="#">Résultats</a></li>
            {% endif %}
        </ul>
    <div class="tabs">
    {% set lastDate = '' %}
        {% for entity in games %}
            {% if event.simpleBet %}
                {% include "DwfPronosticsBundle:Game:game-simpleBet.html.twig" with {'pronostic': pronostics[loop.index - 1]} %}
            {% else %}
                {% include "DwfPronosticsBundle:Game:game.html.twig" with {'entity': entity, 'lastDate': lastDate, 'pronostic': pronostics[loop.index - 1] } %}
            {% endif %}
            {% set lastDate = entity.date|date('Ymd') %}
            {% else %}
            <p>Aucun match pour le moment</p>
        {% endfor %}
    </div>
    <div style="display:none;" class="tabs">
        {% if results %}
        <div class="panel panel-default row">
		  <!-- Default panel contents -->
		  <div class="panel-heading">Classement {{ title }}</div>
		  <!-- Table -->
		    <table class="table">
		    <thead>
		    <tr>
		    <th>#</th>
		    <th>Equipe</th>
		    <th>Points</th>
		    <th>Diff. buts</th>
		    </tr>
		    </thead>
		    <tbody>
		    {% for result in results %}
		    <tr>
		        <td>{{ loop.index }}</td>
		        <td>
		{#         <img src='/{{ result.team.getWebPath }}' /> #}
				{% if teams[result.team_id].getWebPath %}
					<img src='/{{ teams[result.team_id].getWebPath }}' width="20" />
				{% endif %}
		        {{ result.team }}
		        </td>
		        <td>{{ result.total }}</td>
		        <td>{% if(result.goals >= 0) %}+{% endif %}{{ result.goals }}</td>
		    </tr>
		    {% endfor %}
		    </tbody>
  			</table>
        </div>
    {% else %}
        <p>Pas encore de classement</p>
    {% endif %}
    </div>
    {% if event.championship %}
    <div style="display:none;" class="tabs">
        <div class="page-header">
	    <h2>Nb points gagnés: <span class="label label-default">{{ nbPointsWonByChampionshipDay }}</span></h2>
	    {% if nbPronostics %}
	    <h2>Moy. points / pronostic: <span class="label label-default">{{ (nbPointsWonByChampionshipDay / nbPronostics)|round(1, 'floor') }}</span></h2>
	    {% endif %}
	    {% if nbPerfectScore and not event.simpleBet %}
	    <h2>Nb scores exacts trouvés (5 points): <span class="label label-default">{{ nbPerfectScore }}</span></h2>
	    {% endif %}
	    {% if nbGoodScore %}
	    <h2>Nb pronostics gagnants (3 points): <span class="label label-default">{{ nbGoodScore }}</span></h2>
	    {% endif %}
	    {% if nbBadScore %}
	    <h2>Nb pronostics perdants (1 point): <span class="label label-default">{{ nbBadScore }}</span></h2>
	    {% endif %}
        </div>
        <div id="chart" style="margin: 0 auto" class="col-sm-9"></div>
    </div>
    {% endif %}
    </div>
    </div>
</div>