{% extends '::base.html.twig' %}

{% block body -%}
    <ul class="breadcrumb">
    <li><a href="{{ path('events') }}">{% trans %}Home{% endtrans %}</a></li>
    <li><a href="{{ path('event_home', {'event': event.id }) }}">{{ event.name }}</a></li>
    <li><a href="{{ path('event_games', {'event': event.id }) }}">{% trans %}All games{% endtrans %}</a></li>
    <li>{{ entity.name }}</li>
    </ul>
    <div class="page-header">
        <h1>{% if event.getWebPath %}<img class="contest_logo" src='/{{ event.getWebPath }}' />{% endif %} {{ event.name}} - {{ entity }}</h1>
    </div>
    <div class="col-sm-12">
        {% include "DwfPronosticsBundle:Event:_menu.html.twig" %}
    </div>
{% include "DwfPronosticsBundle:Game:game-list.html.twig" with {'title': entity.name } %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% include "DwfPronosticsBundle:Pronostic:js-ajaxizePronos.html.twig" %}
    {% include "DwfPronosticsBundle:Game:js-tabs.html.twig" %}
    {% if chart %}
    <script type="text/javascript">
    $(document).ready(function() {
        {{ chart(chart) }}
        });
    </script>
    {% endif %}
{% endblock %}