{% extends '::base.html.twig' %}

{% block body -%}
    <ul class="breadcrumb">
    <li><a href="{{ path('events') }}">Accueil</a></li>
    <li><a href="{{ path('event_home', {'event': event.id }) }}">{{ event.name }}</a></li>
    <li><a href="{{ path('games_event', {'event': event.id }) }}">Tous les matchs</a></li>
    <li>{{ entity.name }}</li>
    </ul>
    <div class="page-header">
    <h1>{% if event.getWebPath %}<img src='/{{ event.getWebPath }}' />{% endif %} {{ event.name}} - {{ entity }}</h1>
    </div>
{% include "DwfPronosticsBundle:Game:game-list.html.twig" with {'title': entity.name } %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% include "DwfPronosticsBundle:Pronostic:js-ajaxizePronos.html.twig" %}
    {% include "DwfPronosticsBundle:Game:js-tabs.html.twig" %}
{% endblock %}